{% extends 'restaurant/base.html' %}

{% block content %}

<div class="row justify-content-center">
    <div class="col-md-5">
        <div class="card shadow p-4">

```
        <h4 class="mb-3 text-center">Create Account</h4>

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <button class="btn btn-warning w-100 mt-2">Sign Up</button>
        </form>

        <p class="text-center mt-3">
            Already have an account? <a href="{% url 'login' %}">Login</a>
        </p>

    </div>
</div>
```

</div>

{% endblock %}
